.htaccess

manager.xml
manager.clpprj

nbproject/
images/
PHPMailer/
config_db.php
config_smtp.php

add_done/
css/images/
operacje/
panel_show/
wklad_pole/

play/load_teams.php
play/mecz.php
play/plansza.php
play/plansza_css.php
play/play.php
play/play2.php
play/play2_skrypty.js
play/play3.php
play/play3_skrypty.js.bak
play/play_css.css
play/play_skrypty.js

act_table.php
add.php
add_corect_team.php
add_country.php
add_liga.php
add_player.php
add_team.php
ask_ask.php
ask_team.php
ask_team1.php
check_nr.php

kalen.php
kolejka.php
make_po.php
next_day.php
next_day_calendar.php
panel.php

show_table_10.php
strona_man.inc

