manager.xml
manager.clpprj

nbproject/
images/
PHPMailer/
config_db.php
config_smtp.php

add_done/
js/tlo_action.js
operacje/
panel_show/
play/
wklad_pole/

act_table.php
add.php
add_corect_team.php
add_country.php
add_liga.php
add_player.php
add_team.php
ask_ask.php
ask_team.php
ask_team1.php
check_nr.php
css_man.css

kalen.php
kolejka.php
make_po.php
next_day.php
next_day_calendar.php
panel.php
plansza_1mecz.php
show_table_10.php
skrypty_ksm.js
skrypty_manager.js
strona_man.inc

